*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#wrapper{
    height:100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
    width:1200px;
    margin:0 auto;
}
.logo{
    width:80px;
    height: 80px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:1rem;
}
.logo_container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.logo-text{
    margin-left: -0.55rem;
    font-size: 28px;
    margin-top: 40px;
}
.nav-items{
    display: flex;
    gap:2rem;
    padding: 0 4em;
    margin-top: 40px;
}

.nav-items div{
    font-size: 20px;
    font-weight: 540;
    cursor: pointer;
}
.nav-items div a{
    color:black;
}

a{
    text-decoration: none;
}
.nav-items div :hover{
    transition: all 1s;
    font-weight: bold;
}

.Hero_section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    gap:5rem; 
    margin:4rem auto;
    padding:0 1rem;
    padding-bottom: 8rem;

}

.faded_text{
    user-select:none;
    font-size: 7em;
    color:rgb(231,231,231);

    bottom:-16%;
    left:-5%;
    font-weight: bold;
    transition: all 3s;
}

.hero_section_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
    transform:translateX(-30px)
}
.hero_section_heading{
    font-size: 35px;
    color:#343d68;
    font-weight: 500;
}



 .role{
    color:#4e45d5;
    font-weight: 800;
} 




.hero_section_sub_heading{
   font-size:45px;
   line-height: 45px;
}

.hero_section_description{
    margin-top:1rem;
    width:70%;
    font-weight: 500;
}

.btn_pink{
    background-color: var(--bgOrange);
    width:fit-content;
    color:white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size:18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;

}
.btn_pink::before{
    content: "";
    position:absolute;
    background-color: #fff;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
    
    
}
.btn_pink:hover::before{
    background-color: pink;
    transform: scaleX(1);
    
}

.btn_pink:hover{
    border:solid 3px var(--bgOrange);
    color:black;
}

#btn_bottom{
    display: none;
    
}

.hero_section_right{
    position: relative;
}


.user_img {
    width: 340px; 
    height: 340px; 
    border-radius: 50%;
    overflow: hidden; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-140px);
    
}
.user_img img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}









  .container_1 {
    height: 500px;
    background-color: #12012E;
    text-align: center;
    /* margin-bottom: 300px; */

}  

.skill_head {
    color: rgb(19, 179, 19);
    transform: translateY(70px);
    text-decoration:underline gold;

}

.skills {
    transform: translate(110px, 180px);
    display: flex;
    gap: 110px;
    padding-bottom:-100px;
}

.skil {
    color: rgb(245, 222, 91);
    font-size: 80px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(167, 117, 117, 0.2), 0 6px 20px 0 rgba(172, 149, 149, 0.19);
    justify-content: center;
    text-align: center;
    width: 120px;
    padding: 15px;
    
    
}

.skil_detail {
    font-size: large;
    color: white;
    text-decoration: underline;
}
.resume{
    background-color: #340979;
    height: 1080px;
    /* width:100%; */
    display: flex;    
}
.resume_back{
    position: absolute;
    width: 100%;
    height: 123%;
    
}

.resume_head{
    
    color: rgb(19, 179, 19);
    transform: translate(400px,66px);
    text-decoration: underline yellow;

}
.res{
    width: 780px;
    transform: translate(66px,136px);
    box-shadow: 0 4px 8px 0 rgba(248, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
}
.resume_about{
    width: 65%;
}
.resume_image{
    padding: 3px;
    border-radius: 12px;
}
.resume_desc{
    width: 45%;
    justify-content: center;
    text-align: center;
}
.desc_head{
    color: rgb(19, 179, 19);
    transform: translate(-30px,66px);
   
    text-decoration: underline yellow;
}
.desc_details{
    box-shadow: 0 4px 8px 0 rgba(248, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
    color: white;
    line-height: 45px;
    position: relative;
    transform: translate(-40px, 136px);
    height: 830px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 12px;
}

footer{
    
    background-color: #12012E;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.footer_back{
    width: 100%;
}
.email{
    position: absolute;
    transform: translate(10px,30px);
    
}
#number{
    position: absolute; 
    transform: translate(1700px,30px);
    
}







